{% extends "layout.html" %}

{% macro input(field) %}
    {{ field.label }}
            {% if ( field.errors|length == 0) %}
              {% if ( field.data == None) %}
                  {{ field(class_="form-control") }}<br>
              {% else %}
                {{ field(class_="form-control is-valid") }}
              {% endif %}  
            {% else %}
              {{ field(class_="form-control is-invalid") }}
              {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            {% endif %}
{% endmacro %}

{% block title %}Usuarios{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
  <h1>Crear un usuario</h1>
    <form action="{{ url_for('user_create') }}" method="post"  class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        <div>
          {{input(form.username)}}
        </div>
        <div class="row">
        <div class="form-group col-md-6">
          {{input(form.first_name)}}
        </div>
        <div class="form-group col-md-6">
          {{input(form.last_name)}}
        </div>
        <div class="form-group col-md-6">
          {{input(form.email)}}
        </div>
        <div class="form-group col-md-6">
            {{input(form.password)}}
        </div>
        <p>
            {{ form.submit(class_="btn btn-primary") }}
            <button type="reset" class="btn btn-primary">Limpiar</button>
        </p>
  </form>
</div>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}
